<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      Favourite Currencies
    </ion-title>
  </ion-navbar>
  <ion-item>
    <ion-label><ion-icon name="search"></ion-icon></ion-label>
    <ion-input type="text" [(ngModel)]="searchText" placeholder="Search"></ion-input>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="this.currenciesProvider.favourites">
    <ion-item *ngFor="let currency of this.currenciesProvider.favourites | search: searchText" (click)="this.selectCurrency(currency)">
      <ion-avatar item-end>
        <img src="{{currency.chart}}">
      </ion-avatar>
      <h2>{{currency.name}}</h2>
      <h3>{{currency.price}}</h3>
      <p [style.color]="currency.change24hr[0] === '-' ? '#d14836' : '#093'">{{currency.change24hr}}</p>
      <ion-icon name="star" item-right (click)="this.currenciesProvider.markAsUnfavourite(currency)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
